extends layout

block content
	section.container
		.btn.btn-primary.btn-file
			span.glyphicon.glyphicon-picture(aria-hidden='true')
			|	Upload
			input#imgUpload(type='file')
		#imgPlaceHolder
		#imgPreview
